.loginDiv h1{
    font-size: 4vw;
    font-family: 'Barlow Semi Condensed';
    font-weight: bolder;
    color: #4F5E30;
    text-align: center; 
}

.loginDiv a{
    text-decoration: none;
    font-family: 'Barlow Semi Condensed';
    font-weight: medium;
    font-size: 1.5vw;
    color: #A5BA78; 
}

.loginDiv text{
    font-family: 'Barlow Semi Condensed';
    color: #4F5E30;
    text-align: center;
    margin-left: 10%;
    font-weight: medium;
    font-size: 1.5vw;
}

.pass{
    font-family: 'Barlow Semi Condensed';
    font-size: 1.1vw;
    color: rgb(122, 122, 122);
    position: relative;
    right: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    margin-top: 25.8%;
    margin-left: -7%;
    z-index: 10px;
}
.pass:hover{
    color: #A5BA78;
}

.loginDiv input{
    font-family: 'Barlow Semi Condensed';
    font-size: 1.75vw;
    font-weight: medium;
    border: none;
    outline: none;
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: center;
    color: #797979;
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}

.loginDiv input[type=submit] {
    font-family: 'Barlow Semi Condensed';
    font-size: 1.75vw;
    font-weight: 500px;
    width: 105%;
    border: none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    background-color: #A5BA78;
    border-radius: 20px;
    color: white;
}

.form{
    float: left;
    padding-left: 20%;
    padding-top: 10%;
    position: relative;
}

#errorSpan{
    color: #E54829;
    text-align: center;
    font-size: 1.3vw;
    margin-top: -10%;
}