.carousel{
    overflow: hidden;
}

.inner{
    width: 14.28%;
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #A5BA78;
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.indicators{
    height: 100px;
}

.indicators > button{
    margin: 5px;
    width: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.indicators .prev{
    position: absolute;
    top: 27.75%;
    left: -0.5%;
    background-color: none;
}

.indicators .next{
    position: absolute;
    top: 27.75%;
    right: 1%;
    background-color: none;
}

.image{
    height: 24px;
    width: 24px;
    position: absolute;
    top: -10%;
    background-color: none;
    color: #4F5E30;
}