.signupDiv h1{
    font-size: 4vw;
    font-family: 'Barlow Semi Condensed';
    font-weight: bolder;
    color: #4F5E30;
    text-align: center;          
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signupDiv a{
    text-decoration: none;
    font-family: 'Barlow Semi Condensed';
    font-weight: medium;
    font-size: 1.5vw;
    color: #A5BA78; 
}

.signupDiv text{
    font-family: 'Barlow Semi Condensed';
    color: #4F5E30;
    text-align: center;
    margin-left: 10%;
    font-weight: medium;
    font-size: 1.5vw;
}

.signupDiv input[type=submit]{
    font-family: 'Barlow Semi Condensed';
    font-size: 1.75vw;
    font-weight: 500px;
    width: 105%;
    border: none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    background-color: #A5BA78;
    border-radius: 20px;
    color: white;
}

.signupDiv input{
    font-family: 'Barlow Semi Condensed';
    font-size: 1.75vw;
    font-weight: medium;
    border: none;
    outline: none;
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: center;
    color: #797979;
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}

.formSU{
    float: left;
    padding-left: 17%;
    margin-top: -3%;
    position: relative;
}

.formSU img{
    position: relative;
    margin-left: 13%;
    padding: none;
    width: 65%;
}

.objectSU{
    position: absolute;
    right: 10%;
    top: 14%;
}

.btn{
    background-color: transparent;
    border: none;
}

.caretBtn{
    cursor: pointer;
    position: absolute;
    top: 17%;
    color: #4F5E30;
    height: 48px;
    width: 48px;
}
#errorSpanSU{
    color: #E54829;
    text-align: center;
    margin-top: -10%;
}