img{
    width: 100%;
    height: auto;
    padding: 1% 1% 1% 1%;
}

.nav-bar{
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 20% 20% 27.5% 7.5%;
}

.li{
    text-align: center;
    margin: auto;
}

.li input{
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
    border-radius: 30px;
    background-color: #EDEDED;
    border: none;
    height: 48px;
    width: 375px;
    outline: none;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed';
    color: dimgray;

}

.search-pic{
    margin-top: 11px;
    margin-left: 17px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: #A5A5A5;
    position: absolute;
    visibility: visible;
}

.nav-bar .links{
    margin-top: 100px;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 2.5vw;
    font-weight: bold;
    color: #848484;
    text-decoration: none;
}

#active{
    color: #A5BA78;
}

/* Styling for the profile icon */
.profile-pic{
    cursor: pointer;
    height: 96px;
    width: 96px;
}

/* Style The Dropdown Button */
.dropbtn {
    background: transparent;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    margin-top: -10%;
    background-color: #4F5E30;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    font-family: 'Barlow Semi Condensed';
    font-size: 25px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #A5BA78;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #profile{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  #logout{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }