img{
    width: 100%;
    height: auto;
    padding: 1% 1% 1% 1%;
}

.nav-bar{
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 20% 20% 27.5% 7.5%;
}

.li{
    text-align: center;
    margin: auto;
}

.li input{
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
    border-radius: 30px;
    background-color: #EDEDED;
    border: none;
    height: 48px;
    width: 375px;
    outline: none;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed';
    color: dimgray;

}

.search-pic{
    margin-top: 11px;
    margin-left: 17px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: #A5A5A5;
    position: absolute;
    visibility: visible;
}

.nav-bar .links{
    margin-top: 100px;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 2.5vw;
    font-weight: bold;
    color: #848484;
    text-decoration: none;
}

#active{
    color: #A5BA78;
}

/* Styling for the profile icon */
.profile-pic{
    color: #4F5E30;
    cursor: pointer;
    height: 48px;
    width: 48px;
}