/* This div is a container to the toggle button(s)*/
.select{
    background-color: #4F5E30;
    border-radius: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white;
    display: flex;
    font-family: 'Barlow Semi Condensed';
    height: 48px;
    justify-content: center;
    margin: auto;
    width: 25%;
}

/* Styling for the toggle buttons (Favorites/Pantry) */
/* The z-index allows the buttons to rest atop the div that moves to display which is selected */
.select button{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-weight: medium;
    padding: 10px 15%;
    z-index: 10;
}

/* Here is the moving div that allows for the toggle button functionality */
#animationBubble{
    background-color: #A5BA78;
    border-radius: 50px;
    height: 48px;
    left: 37.5%;
    position: absolute;
    transition: .4s;
    width: 12.5%;
}

/* This div contains all of the items unique to the pantry page */
/* It is only visible if the pantry page is meant to be displayed */
.pantry{
    background-color: #D9D9D9;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 75%;
    margin: auto;
    margin-top: 2.5%;
    display: flex;
    visibility: hidden;
    overflow: scroll;
}

/* Styling for top-bar of pantry */
.top-bar{
    border-radius: 50px;
    display: flex;
    height: 15%;
    margin: auto;
    margin-top: 0;
    width: 100%;
}

/* Styling for header in top-bar of pantry */
.top-bar h1{
    
    color: #4F5E30;
    font-size: 48px;
    font-weight: medium;
    margin: auto;
    margin-top: 1%;
}

/* Styling for plus icon in top-bar of pantry */
.top-bar .plus-pic{
    color: #4F5E30;
    cursor: pointer;
    height: 48px;
    position: relative;
    right: 3.5%;
    top: 25%;
    width: 48px;
}

/* Styling for container div that holds table */
.items{
    background-color: #D9D9D9;
    border-radius: 50px;
    display: flex;
    height: 100%;
    width: 100%;
}

/* Styling table and spacing */
.items table{
    border-collapse: separate;
    border-spacing: 50px 20px;
    display: inline-block;
    margin: auto;
    margin-top: 1%;
    overflow: hidden;
    table-layout: fixed;
}

/* Styling for items in table */
.items table td{
    background-color: #A5BA78;
    border-radius: 20px;
    color: white;
    display: absolute;
    font-size: 32px;
    font-weight: bold;
    height: 76px;
    text-align: center;
    white-space: nowrap;
    width: 500px;
    max-width: 500px;
}

/* No scrollbar shown, just scroll */
.pantry::-webkit-scrollbar {
    visibility: hidden;
}

/* This div contains all of the items unique to the favorites page */
/* It is only visible if the favorites page is meant to be displayed */
.favorites{
    visibility: visible;
    margin-top: -30%;
    width: auto;
}

.pantryGrid{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBox{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 15rem;
    width: 30rem;
    border-radius: 50px;
    margin: auto;
}

.addInput{
    box-shadow: 3px 4px 5px 0px rgba(255, 255, 255, 0.38);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    height: 48px;
    width: 65%;
    border-radius: 12.5px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed';
    color: dimgray;
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
}

.cancelBut{
    display: inline-block;
    margin: auto;
    margin-top: 10%;
    margin-right: 2%;
    width: 30%;
    height: 42px;
    background-color: #EA862D;
    color: white;
    border: none;
    border-radius: 12.5px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.saveBut{
    display: inline-block;
    margin: auto;
    margin-left: 2%;
    width: 30%;
    height: 42px;
    background-color: #A5BA78;
    color: white;
    border: none;
    border-radius: 12.5px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.modal{
    display: flex;
}

.deleteButton{
    padding-top: 13%;
    border: none;
    background-color: transparent;
}

.delete-pic{
    height: 32px;
    width: 32px;
    color: #E54829;
    cursor: pointer;
}

#addError{
    color: #E54829;
    text-align: center;
    margin-top: 2%;
}

.gridTable{
    display: grid;
    grid-template-columns: 88% 12%;
}

.gridChildTable{
    padding-top: 1.5%;
    overflow: auto;
    overflow-y: none;
}

.gridChildTable::-webkit-scrollbar {
    height: 12px;
	background-color: transparent;
  }


.gridChildTable::-webkit-scrollbar-track{
	border-radius: 20px;
	background-color: #4F5E30;
}

.gridChildTable::-webkit-scrollbar-thumb{
    border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #A5BA78;
}

